.cover-card
  .container.animate-box
    .row
      .col-md-7
        .display-t
          .display-tc
            %h1 Pesos Argentinos en una Red Abierta
            %a.btn.btn-link(href="#motivacion") Motivacion
            %br.visible-sm.visible-xs
            %a.btn.btn-link(href="#funcionamiento") Funcionamiento
            %br.visible-sm.visible-xs
            %a.btn.btn-link(href="#testimonios") Testimonios

#motivacion.card.first-card
  .container.animate-box
    .row
      .col-md-8
        %h1 Motivación
        - data.motivacion.each do |m|
          %p= m 

#funcionamiento.card.alternate-bg
  .container.animate-box
    .row
      .col-md-8
        %h1 Funcionamiento
        - data.funcionamiento.each do |m|
          %p= m

#testimonios.card
  .container.animate-box
    %h1 Testimonios
    - data.testimonios.each_slice(2).each_with_index do |pair, i| 
      .row
        - pair.each_with_index do |t, j|
          - alt = (i.even? && j.even?) || (i.odd? && j.odd?)
          .col-md-6
            %div(class="testimonial #{"alternate" if alt}")
              %blockquote
                %p &ldquo;#{ t.text }&rdquo;
                %p.author
                  %a{href: t.link, target: '_blank'}
                    %img{src: t.image }
                    %cite &mdash;#{ t.author }

